input,
textarea {
  -webkit-appearance: none;
}
table {
  width: 100%;
}
/*type为number时取消默认样式*/
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* --- base ---- */
html {
  /*做320以下统一样式*/
  font-size: 100px;
  -webkit-user-select: none;
  /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
  min-height: 100%;
}
/**********************/
/* --- 
	20px ——> .13rem
	
	---- */
/*适配360以上屏幕*/
@media (min-width: 360px) {
  html {
    font-size: 112px !important;
  }
}
@media (min-width: 374px) {
  html {
    font-size: 117.1875px !important;
  }
}
/*适配400以上屏幕*/
@media (min-width: 400px) {
  html {
    font-size: 125px !important;
  }
}
@media (min-width: 413px) {
  html {
    font-size: 125px !important;
  }
}
/*适配480以上屏幕*/
@media (min-width: 480px) {
  html {
    font-size: 150px !important;
  }
}
/*适配540以上屏幕*/
@media (min-width: 540px) {
  html {
    font-size: 168px !important;
  }
}
/*适配640以上屏幕*/
@media (min-width: 640px) {
  html {
    font-size: 200px !important;
  }
}
body {
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  background: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif, "微软雅黑";
}

.clearfix:after{content:'';display:block;clear:both;}
.clearfix{zoom:1;}

.bgclwri{background-color:#fff;}

.warp{padding:0.11rem 0.05rem 0 0.05rem;}
.warp .content{border:2px solid #333;font-size:0.09rem;color:#333;padding:0 0.075rem;}
.warp .content h2{font-size:0.14rem;line-height:0.25rem;text-align:center;}
.warp .content p{line-height:0.22rem;}
.warp .content ul{line-height:0.22rem;}
.warp .content ul li{float:left;padding-left:0.18rem;background:url(../images/chek1.png) no-repeat 0.06rem center;background-size:0.08rem;margin-right:0.16rem;cursor:pointer;}
.warp .content ul li:last-child{margin-right:0;}
.warp .content ul li.on{background:url(../images/chek2.png) no-repeat 0.06rem center;background-size:0.08rem;}
