input,
textarea {
  -webkit-appearance: none;
}
table {
  width: 100%;
}
/*type为number时取消默认样式*/
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* --- base ---- */
html {
  /*做320以下统一样式*/
  font-size: 100px;
  -webkit-user-select: none;
  /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
  min-height: 100%;
}
/**********************/
/* --- 
	20px ——> .13rem
	
	---- */
/*适配360以上屏幕*/
@media (min-width: 360px) {
  html {
    font-size: 112px !important;
  }
}
@media (min-width: 374px) {
  html {
    font-size: 117.1875px !important;
  }
}
/*适配400以上屏幕*/
@media (min-width: 400px) {
  html {
    font-size: 125px !important;
  }
}
@media (min-width: 413px) {
  html {
    font-size: 125px !important;
  }
}
/*适配480以上屏幕*/
@media (min-width: 480px) {
  html {
    font-size: 150px !important;
  }
}
/*适配540以上屏幕*/
@media (min-width: 540px) {
  html {
    font-size: 168px !important;
  }
}
/*适配640以上屏幕*/
@media (min-width: 640px) {
  html {
    font-size: 200px !important;
  }
}
body {
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  background: #666;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif, "微软雅黑";
}
body.white {
  background: #fff;
}
body.black {
  background: #000;
}
body.gray333 {
  background: #333;
}
body.green {
  background: #33ccae;
  height: 100%;
}
body.hei100 {
  height: 100%;
}
body.bpb {
  padding-bottom: 0.4rem;
  /* position:relative;box-sizing:border-box; */
}
html.hei100 {
  height: 100%;
}
i {
  font-style: normal;
}
b {
  font-weight: normal;
}


.clearfix:after{content:'';display:block;clear:both;}
.clearfix{zoom:1;}

.header{width:100%;height:0.425rem;background:#323237;position:relative;}
.header .back-btn{position:absolute;top:0;left:0;min-width:0.29rem;height:0.42rem;background:url(../pictures/arrow-l.png) no-repeat 0.07rem center;background-size:0.14rem;}
.header .back-btn a{display:block;width:100%;height:100%;}
.header .word{text-align:center;line-height:0.425rem;}
.header .word p{font-size:0.16rem;color:#fff;}

/* 去除a标签点击时  手机端的蓝色边框 PC灰色框 */
/* a{
　　border: none;
　　-webkit-tap-highlight-color: rgba(0,0,0,0);
　　-webkit-tap-highlight-color: transparent;
　　outline: none;
} */
a{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

.contents-page{margin-bottom:0.2rem;}
.contents-page h2{font-size:0.15rem;color:#555;text-align:center;line-height:0.36rem;padding-top:0.12rem;position:relative;}
.contents-page h2 a{position:absolute;top:0.18rem;right:0.075rem;color:#fff;font-size:0.09rem;background-color:#33ccae;padding:0.05rem 0.075rem;border-radius:6px;height:0.12rem;line-height:0.12rem;}
.contents-page ul{padding:0 0.075rem;}
.contents-page ul li{border-bottom:1px solid #ccc;position:relative;overflow:hidden;}
.contents-page ul li.nobor{border-bottom:0;}
.contents-page ul li.videobg{background:url(../pictures/video-bg.png) no-repeat center right;background-size:0.25rem;}

.contents-page ul li dl{padding:0.075rem 0.075rem;}
.contents-page ul li dl dt{float:left;margin-right:0.16rem;}
.contents-page ul li dl dt img{width:0.42rem;height:0.42rem;}
.contents-page ul li dl dd{float:left;color:#555;font-size:0.11rem;}
.contents-page ul li dl dd h3{font-size:0.14rem;line-height:0.25rem;}
.contents-page ul li dl dd p{font-size:0.1rem;color:#888;line-height:0.17rem;}

/* BK1-2、BK1-2-1、BK1-2-2 创建爆款入口 */
.bk1-2 .pic-list ul li {
  display: none;
}
.bk1-2 .pic-list ul li img {
  display: block;
  width: 100%;
  height: 1.8rem;
}
.bk1-2 .pic-list ul li.disblo {
  display: block;
}
.bk1-2 .tab-list {
  padding: 0 0.075rem 0.1rem 0.075rem;
}
.bk1-2 .tab-list dl dt,
.bk1-2 .tab-list dl dd {
  height:0.9rem;
  color: #fff;
  margin-top: 0.1rem;
  border-radius: 6px;
  padding-top: 0.16rem;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow:hidden;
}
.bk1-2 .tab-list dl dt img,
.bk1-2 .tab-list dl dd img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 auto;
}
.bk1-2 .tab-list dl dt h3,
.bk1-2 .tab-list dl dd h3 {
  font-size: 0.15rem;
  line-height: 0.23rem;
}
.bk1-2 .tab-list dl dt p,
.bk1-2 .tab-list dl dd p {
  font-size: 0.1rem;
  line-height: 0.18rem;
}
.bk1-2 .tab-list dl dt {
  background-color: #33ccae;
}
.bk1-2 .tab-list dl dd {
  background-color: #b39b00;
}
.bk1-2 .tab-list dl dd.bk1-3h {
  padding-top: 0;
}
.bk1-2 .tab-list dl dd.bk1-3h img {
  width: 0.35rem;
  height: 0.22rem;
  padding: 0.15rem 0 0.05rem 0;
}
.bk1-2 .tab-list dl dd.bgcl3ca {
  background-color: #33b300;
}
.bk1-2 .tab-list dl dd.bgcl7bd {
  background-color: #ffba19;
}
.bk1-2 .tab-list dl dd.bgclfa0 {
  background-color: #ff1919;
}
.colonel-tab{position:absolute;top:0;left:0;width:100%;height:100%;}
li.diop .colonel-tab{display:block;}
.colonel-tab .bj{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#87bdbc;opacity:0.8;}
.colonel-tab .tab{display:table;margin:0 auto;padding:0.15rem;position:relative;z-index:88;}
.colonel-tab .tab a{color:#555;}
.colonel-tab .tab span{display:block;float:left;border-radius:50%;margin-right:0.2rem;/* width:1rem;height:1rem;font-size:0.2rem;padding:0.25rem; */width:0.45rem;height:0.45rem;font-size:0.1rem;padding:0.05rem;box-sizing:border-box;line-height:0.12rem;text-align:center;}
.colonel-tab .tab span.txt{background-color:#ffd306;}
.colonel-tab .tab span.vid{background-color:#a8ff24;}
.colonel-tab .tab a span.mg0{margin-right:0;}
.colonel-tab .back {position:relative;z-index:88;font-size:0.12rem;text-align:center;line-height:0.4rem;width:2rem;background-color:#33ccae;border-radius:6px;margin:0.3rem auto 0 auto;}
.colonel-tab .back a{color:#fff;}

.colonel-tab{position:absolute;top:0;left:0;width:100%;height:100%;display:none;}
.colonel-tab .bj{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#87bdbc;opacity:0.8;border-radius:6px;}
.colonel-tab .tab{display:table;margin:0 auto;padding:0.075rem;position:relative;z-index:88;}
.colonel-tab .tab span{display:block;float:left;border-radius:50%;margin-right:0.2rem;width:0.42rem;height:0.42rem;font-size:0.1rem;line-height:0.15rem;padding:0.06rem;box-sizing:border-box;text-align:center;}

.colonel-index{height:1.5rem !important;padding-top:0.1rem !important;}
.colonel-index img{width:0.45rem !important;height:0.36rem !important;}
.colonel-index h3{font-size:0.18rem !important;padding:0.04rem 0;}
.colonel-index p{font-size:0.12rem !important;padding:0.05rem 0;}



/* 新版 功能首页 */
.func-tab{padding:0.13rem 0.075rem;}
.func-tab .title{padding:0.03rem 0;height:0.2rem;font-size:0.12rem;font-weight:bold;}
.func-tab .title p{float:left;line-height:0.22rem;}
.func-tab .title span{float:left;width:0.2rem;height:0.2rem;background-color:#33ccae;border-radius:50%;color:#fff;text-align:center;margin-right:0.075rem;line-height:0.22rem;}
.func-tab ul{padding-left:0.26rem;margin-bottom:0.05rem;}
.func-tab ul li p{display:inline-block;line-height:0.25rem;color:#33ccae;font-size:0.1rem;background:url(../pictures/mark-1.png) no-repeat left 0.095rem;background-size:0.06rem;padding:0 0.15rem 0 0.11rem;position:relative;}
.func-tab ul li p span{position:absolute;top:50%;right:0;width:0.05rem;height:0.09rem;background:url(../pictures/arrow-r-7.png) no-repeat 0 0;background-size:100%;margin-top:-0.045rem;}



/* 废弃的
.header{width:100%;height:0.425rem;background:#323237;position:relative;}
.header .back-btn{position:absolute;top:0;left:0;min-width:0.29rem;height:0.42rem;background:url(../pictures/arrow-l.png) no-repeat 0.07rem center;background-size:0.14rem;}
.header .word{text-align:center;line-height:0.425rem;}
.header .word  p{font-size:0.16rem;color:#fff;}

.func-tab{padding:0 0.075rem;}
.func-tab ul{}
.func-tab ul li{width:33.33%;float:left;padding-top:0.2rem;text-align:center;}
.func-tab ul li .pic{height:0.2rem;}
.func-tab ul li .pic img{display:block;width:0.25rem;margin:0 auto;}
.func-tab ul li h2{font-size:0.1rem;color:#555;padding-bottom:0.05rem;}
.func-tab ul li p{font-size:0.08rem;color:#999;} */
